# Data Science Tools and Ecosytem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* Data Science Tools and Ecosystem
* Some of the commonly used libraries used by Data Scientists
* Some of the popular languages that Data Scientists use

### Some of the popular languages that Data Scientists use are :
1. Python
2. R
3. SQL

### Some of the commonly used libraries by data Scientists include :

| Data Science Tools |
----------------------
| Jupyter Lab |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hour by dividing by 60
200/60

3.3333333333333335

## Author
Bhupendra